<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Builder</title>
</head>
<body>
    <h1>Hey! Use this to create api's quicker. 😎</h1>

    <form action="/api" method="POST">
        <input type="text" placeholder="Question" name="question">
        <input type="text" placeholder="Answer" name="answer">
        <button type="submit">SUBMIT NEW</button>
        <button type="button" id="updateButton">UPDATE EXISTING</button>
    </form>
    <!--Make sure the button type is 'submit' for the action to work-->

    <div>
        <ul>
            <% for(i = 0; i < questions.length; i++) {%>
                <li class="question">
                    <span><%= questions[i].question %> </span>
                    <span><%= questions[i].answer %></span>
                </li>
            <% } %>
        </ul>
    </div>
    <div>
        <h3>Delete Stuff Here</h3>
        <input type="text" placeholder="question to delete" id="deleteInput"><button id="deleteButton">DELETE</button>
    </div>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>